<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - server2MVC</title>
    <link rel="icon" href="/Image/logo.svg"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    
</head>
<body>


    @RenderBody()
      

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
